<%- include('partials/header'); -%>

<div class="text-container">

  <!-- <img src="../images/piano drawing.jpeg" alt="fdsjflsdkjflksdjfl"> -->

  <h1>About the project</h1>
  <p>
    This project was done as part of Digital Humanities course in Ben Gurion University.<br>
    We choose to investigate songs through the aspect of chord since this is an interesting and unique way to ask questions about songs.<br>
  </p>
  <br>
  <hr>
  <br>
  <br>

  <h2>About the Topic</h2>
  <p>We believe the best way to express the chords importance is to cites what people have to say about them, we found the following interesting sayings:</p>
  <div class="quotations-container">
    <p>“Music is about expressing feelings to others. Chords help us understand or make others understanding about feelings.”</p>
    <p>"You make a habit and take the feel of the right chords then you will realize the importance of chords.”</p>
    <p>“Chords allow flavors of music.”</p>
  </div>
  <p>From these (and many more) we can understand how important chords are and why they deserve their own project.</p>
  <br>
  <hr>
  <br>
  <br>

  <h2>Project's Goal</h2>
  <!-- TODO -->
  <br>
  <hr>
  <br>
  <br>

  <h2>Project Process</h2>
  <p>Our work on this project is divided to several steps.</p>
  <br>

  <h3>Step 1: Data Collection</h3>
  <p>The first challenge was to find data to work with and decide how it should be saved. </p>
  <ul>
    <li><span class="li-header">Data source</span> - we found a popular website called <a class="footer-link" href="https://www.tab4u.com/">Tab4u</a> that holds an impressive amount of songs with their chords, words and some information about the artists.</li>
    <li><span class="li-header">Data scraping</span> - we created a web scraper in Python using Selenium library that collected for us the data we needed.</li>
    <li><span class="li-header">Initial Data schema</span> - we scraped data as json files, each one represents an artist. <br>
      Our main focus was chords but we didn’t want to lose any data and since it wasn’t expensive in terms of space, we created a data schema which holds most of the information about the songs including the chords, lyrics, tabs and information about the artist.
  </ul>
  <br>

  <h3>Step 2: Data Processing</h3>
  <p>The data processing had several goals:</p>
  <ul>
    <li><span class="li-header">Clean the data</span> - to make the scraping process more efficient and fast, we had to scrape some of the data “as is” from the website html.</li>
    <li><span class="li-header">Get general information</span> - for the analysis of the data we needed to go over all the data and get general information. <br>
      For example: all the possible categories for songs.</li>
    <li><span class="li-header">Fix mistakes</span> - since the data on the website is not perfect and the scraping process also is prone for errors, we tried to fix some of the major mistakes we found. <br>
      For example: fixing out of place chorus names.
  </ul>
  <p><a class="btn btn-secondary" href="DataSchema" role="button">To view the final data schema &raquo;</a></p>
  <br>

  <h3>Step 3: Data Analysis</h3>

  <br>

  <h3>Step 4: Results visualization</h3>

  <br>
  <hr>
  <br>
  <br>

  <h2>Technologies Summery</h2>
  <br>

</div>




<%- include('partials/footer'); -%>
