<%- include('partials/header'); -%>

<body>

<h1>ChordsAnalizer</h1>
<h3>These are all the artists in the DB:</h3>

<% artists.forEach(function(artist) { %>
  <p>artists name is: <%= artist["Artist data"]["Artist name"] %></p>
<% }); %>

</body>


<%- include('partials/footer'); -%>
