<%- include('partials/header'); -%>

    <!-- image and header -->
    <div class="header-padding-container container-fluid">

    </div>
    <section class="jumbotron"></section>
    <div class="header-text-container container-fluid">
      <h1 class="header-text">Chords Analyzer</h1>
      <p class="header-text-sub lead">Created by</p>
      <p class="header-text-sub lead">Chaim Hadad & Yuval Lahav</p>
    </div>

    <main role="main">

      <!-- features -->
      <div class="container marketing">
        <div class="row">
          <div class="col-lg-4">
            <img class="circle-image" src="images/chord1.png" alt="">
            <h2>Our Findings</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-secondary" href="OurFindings" role="button">Read more &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="circle-image" src="images/chord2.png" alt="">
            <h2>About the Project</h2>
            <p>
              This project was done as part of Digital Humanities course in Ben Gurion University.<br>
              Read about the topic, goal and process.
            </p>
            <p><a class="btn btn-secondary" href="AboutTheProject" role="button">Read more &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="circle-image" src="images/chord3.png" alt="">
            <h2>About Us</h2>
            <p>We are Chaim and Yuval.</p>
            <p><a class="btn btn-secondary" href="AboutUs" role="button">Read more &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->

    </main>




  <%- include('partials/footer'); -%>
